{deps, [
    {eredis_cluster, {git, "https://github.com/emqx/eredis_cluster", {tag, "0.5.12"}}},
    {ecpool, {git, "https://github.com/emqx/ecpool", {tag, "v0.3.0"}}},
    {clique, {git, "https://github.com/emqx/clique", {tag, "v0.3.11"}}},
    {emqx_passwd, {git, "https://github.com/emqx/emqx-passwd", {tag, "v1.0"}}},
    {cuttlefish, {git, "https://github.com/emqx/cuttlefish", {tag, "v2.2.1"}}} %% pin cuttlefish version here to override the 'develop' branch from clique
]}.

{profiles,
    [{test, [
        {deps, [
            {emqx, {git, "https://github.com/emqx/emqx", {branch, "develop"}}}
        ]},
        {post_hooks, [{compile, "./make-config.sh"}]}
     ]}]}.
